<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @election.name %>
</p>

<p>
  <b>Game:</b>
  <%= @election.game_id %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
